
.mainbox {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 2.5em;
}

.header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 28px;
}
.header div {
    padding: 10px;
}

#main-link {
    margin-left: auto;
    border: 1px solid rgba(50, 50, 50, 0.2);
    font-size: 20px;
    line-height: 3em;
    padding: 0px;
}
#main-link:hover {
    background-color: #dfecfd;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
    padding: 20px 10px;
}

span {
    display: inline-block;
    width: 25%;
    white-space: nowrap;
}

input {
    width: 25%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
    border:none;
    border-bottom: 1px solid grey;
}

#result-message {
    color: red;
    font-size: 14px;
    height: 5em;
}
#result-is {
    color: green;
    font-weight: 700;
    font-size: 18px;
}
#result-input {
    font-weight: 700;
}

*:focus {
    outline: none;
}

.buttons {
    background-color: #5294EE;
    color: #fff;
    border: 1px solid #000;
    font-size: 1em;
    text-align: center;
    border-radius: 5%;
    width: 10em;
    line-height: 2.5em;
    margin: 20px 10px 20px 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
[list]::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
}
