
.mainbox {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 28px;
}
.header div {
    padding: 10px;
}

#calc-link {
    margin-left: auto;
    border: 1px solid rgba(50, 50, 50, 0.2);
    font-size: 20px;
    line-height: 3em;
    padding: 0px;
}
#calc-link:hover {
    background-color: #dfecfd;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
    padding: 20px 10px;
}

table, td {  
    font-size: 18px;
    line-height: 1.5em;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.tablehead {
    background-color: #5294EE;
    color: white;
}

.thead1 {
    width: 28%;
}
.thead2 {
    width: 13%;
}

input {
    font-size: 20px;
    line-height: 30px;
    margin: 0%;
    padding: 2% 6%;
    width: 88%;
    border: 0px;
}

*:focus {
    outline: none;
}

input,
button {
    font-family: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-col2 {
    text-align: center;
}

.buttonbox {
    display: flex;
    flex-direction: row;
}
.buttons {
    background-color: #5294EE;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5%;
    width: 10em;
    font-size: 1em;
    line-height: 2.5em;
    margin: 20px 10px 20px 0px;
}

.selected {
    background-color: #dfecfd;
}
.selected input {
    background-color: #dfecfd;    
}